.elements__title {
    max-width: 210px;
    color: #000;
    padding: 26px 0 26px 21px;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }