.popup__exit-button {
    background-image: url('../../../images/popup/Close_Icon.svg');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    background-position: 50% 50%;
    position: absolute;
    top: -50px;
    right: -50px;
  }
  
  .popup__exit-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .popup__exit-button {
      width: 20px;
      height: 20px;
      top: -50px;
      right: 0px;
      zoom: 0.7;
    }
  }