.elements__like {
    background: url('../../../images//elements/Vector.svg') center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    background-color: white;
    margin: 31px 21px auto auto;
    cursor: pointer;
  }
  
  .elements__like:hover {
    opacity: 0.6;
  }