.popup__field {
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
  height: 57px;
  border: none;
  border-bottom: 1px solid #bcbcc4;
  overflow-y: scroll; 
}

.popup__field:focus {
  outline-color: #bcbcc4;
}